*
!.gitignore
!*.py
!*.txt
!*.ipynb
!data/
!data/*
!data/*/
!data/*/*.sh
!plots/
!plots/*
!RNN/
!RNN/*
!Misc/
!Misc/*
!tables/
!tables/*
!images/
!images/*
!images/plots/
!images/plots/*
!images/results/
!images/results/*
!images/confusion_matrices/
!images/confusion_matrices/*
